html {
  font-family: sans-serif;
}

/* Your CSS below here */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    height: 40vh;
}

.coolbox {
    width: 200px;
    height: 200px;
    background-color: #66EEFF;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    line-height: 190px;
    font-size: 1.063rem;  /* 16 x 1.063 = 17.008 */
    border: 1px solid #44CCDD;
    border-radius: 10px;
}